{# heading with a hero image #}
{% load image from wagtailimages_tags %}

{% block header %}
{% image page.specific.hero_image width-2400 as hero %}
<section id="heading_hero">
  <div class="jumbotron" style="background-image: url('{{ hero.url }}'); background-position: center center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 heading">
          <h1>{% if page.heading != None %}{{ page.heading }}{% else %}{{ page_heading }}{% endif %}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}