{% load image from wagtailimages_tags %}
{% load markdown from wagtailmarkdown %}
{% load pageurl from wagtailcore_tags %}
<div class="col-md-4 col-sm-12">
  <div class="card">
    <div class="card-header">
      {% if card.value.icon %}
        {% image card.value.icon fill-64x64 as card_image %}
        {% image card.value.icon fill-128x128 as card_image_2x %}
        <span style="height={{ card_image.height }}" class="underline">
          <img src="{{ card_image.url }}" srcset="{{ card_image_2x.url }} 2x" width="{{ card_image.width }}" height="{{ card_image.height }}" class="card-icon">
        </span>
      {% elif card.value.page %}
        <a href="{{ card.value.page.url }}" class="btn btn-link">{{ card.value.page.title }}</a>
      {% endif %}
    </div>
    <div class="card-block">
      <p>
        {{ card.value.text|markdown }}
      </p>
    </div>
  </div>
</div>
