<section id="how-we-help" class="dark">
  <div class="container content content-how-we-help content-underlined content-underlined-compact">
    <div class="row {% if lead_in %}content-header-subheader{% else %}content-header{% endif %}">
      <div class="col-md-6 col-12">
        <h2>{{ title }}</h2>
        {% if lead_in %}
          <p>{{ lead_in }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="card-deck-wrapper col-12">
        <div class="card-deck">
        {% for card in cards %}
          {% include "includes/how_we_help_card.html" %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
