{# card containing an image and markdown content if  card_descriptions is True #}
{% load markdown from wagtailmarkdown %}
{% load image from wagtailimages_tags %}
{% load pageurl from wagtailcore_tags %}
<div class="col-lg-4 col-md-6 col-sm-12">
  <div class="card">
    <div class="card-header">
      <h3><a href="{% pageurl card %}">{{ card.title }}</a></h3>
    </div>
    {% image card.specific.hero_image fill-320x150 as card_image %}
    {% image card.specific.hero_image fill-640x300 as card_image_2x %}
    {% image card.specific.hero_image fill-960x450 as card_image_3x %}
    {% image card.specific.hero_image fill-1280x600 as card_image_4x %}
    <a href="{% pageurl card %}"><img class="card-img-top" src="{{ card_image.url }}" srcset="{{ card_image_2x.url }} 2x, {{ card_image_3x.url }} 3x, {{ card_image_4x.url }} 4x"></a>
    {% if card_descriptions|default_if_none:True %}
    <div class="card-block">
      <p>
        {{ card.specific.description|markdown }}
      </p>
    </div>
    {% endif %}
  </div>
</div>
