<section id="guides">
  <div class="container content content-guides content-underlined">
    <div class="row">
      <div class="col-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
    {% if lead_in %}
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>{{ lead_in }}</p>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="card-deck-wrapper col-12">
        <div class="card-deck">
          {% for card in cards %}
            {% include "includes/setup_guide_card.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
