<section id="guides">
  <div class="container content content-guides content-underlined">
    <div class="row {% if lead_in %}content-header-subheader{% else %}content-header{% endif %}">
      <div class="col-12">
        <h2>{{ title }}</h2>
        {% if lead_in %}
          <p class="col-md-8 col-sm-12">{{ lead_in }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="card-deck-wrapper col-12">
        <div class="card-deck">
          {% for card in cards %}
            {% include "includes/setup_guide_card.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
