boto3==1.5.10
botocore==1.8.24
dj-database-url==0.4.2
django==1.11.10
django-clear-cache==0.3
django-crispy-forms==1.7.0
django_recaptcha==1.2.0
django-redis==4.8.0
django-storages==1.6.5
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.2              # via django
raven==6.5.0
wagtail==2.0
wagtail-markdown==0.5a2.post1
whitenoise==3.3.1
zenpy==1.1.10

-e git+https://github.com/stuaxo/django-admin-ip-restrictor.git@feature/block_by_url#egg=django-admin-ip-restrictor
-e git+https://github.com/uktrade/directory-validators.git@v4.2.0#egg=directory_validators
-e git+https://github.com/City-of-Helsinki/wagtail-svgmap#egg=wagtail-svgmap
