boto3==1.5.10
botocore==1.8.24
dj-database-url==0.4.2
django==1.11.13
django-clear-cache==0.3
django-crispy-forms==1.7.1
django_recaptcha==1.2.0
django-redis==4.8.0
django-storages==1.6.5
dj-database-url==0.4.2
gunicorn==19.7.1
waitress==1.1.0
psycopg2==2.7.3.2
pytz==2017.2              # via django
raven==6.5.0
whitenoise==3.3.1
zenpy==1.1.10
directory-validators==4.5.1
