.setup_guide #hero .heading {
    border-bottom: 4px rgba(175, 0, 15, 1) solid;

    bottom: 0px;
    left: 0px;

    margin: 0;
    padding: 30px 30px 0;
    color: black;
}

.setup_guide #hero h1 {
    font-size: 2.4rem;
    font-weight: bold;
}
