.form-control {
    border-radius: 3px;
    height: 48px;
    padding: 5px 4px 4px;
    border: 2px solid #424242;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

#formexplain {
    background-color: #007EA3;
    color: white;
}

#formexplain h1 {
    font-size: 24px;
    font-weight: 500;
}

#formexplain .panel-section {
    margin: 60px 0 50px;
}

.btn {
  border: 2px solid #00549F;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  color: #fff !important;
  background-color: #00549F;
  padding: 4px 20px !important;
  margin: 0;
}
