{% extends "base.html" %}
{% load static from staticfiles %}
{% load include_block from wagtailcore_tags %}

{% include_block page.body %}

{% block body_class %}sector_page{% endblock %}

{% block head-extra %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sector.css' %}">
{% endblock head-extra %}

{% block content %}

  {% include "includes/heading_hero.html" %}

  {% for block in page.pullout %}
    {% include "includes/pullout.html" with value=block.value %}
  {% endfor %}

  {% if page.subsections %}
    {% include "includes/accordion.html" with subsections=page.subsections %}
  {% endif %}

  {% if sector_cards %}
    {% include "includes/image_cards.html" with cards=sector_cards title="Related Industries" classes="sector-cards" id="sector" %}
  {% endif %}

{% endblock %}