{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% include_block page.body %}

{% block body_class %}industry{% endblock %}

{% block head-extra %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/industry.css' %}">
{% endblock head-extra %}

{% block content %}

  {% include "setup_guide/sections/heading.html" %}

  {% for block in page.sub_heading %}
    {% include "setup_guide/sections/sub_heading.html" with value=block.value %}
  {% endfor %}

  {% if page.subsections %}
    {% include "setup_guide/sections/accordion.html" with subsections=page.subsections %}
  {% endif %}

  {% if industry_cards %}
    {% include "setup_guide/sections/setup_guide_cards.html" with cards=industry_cards title="Related Industries" %}
  {% endif %}

{% endblock %}