body {
    font-family: 'Roboto', sans-serif;
    background-color: #160d37;
}

body section {
    background: white;
}


/** bs4 customisations - these should be done by setting up variables.scss */
h1, h2 {
    font-weight: bold;
}

h3 {
    font-weight: 400;
}

/* bs4 customisation - outer elements */
.container {
    max-width: 1200px !important;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0 !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 0;
    padding-right: 0;
}

.row {
    padding-top: 15px;
}

/* bs4 customisation innner elements */
.card {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 0 0 0 !important;
    background-color: inherit;
    border-style: none;
}

.card-header {
    background-color: inherit;
    padding-bottom: 0 !important;
}

.card-block {
    padding: 15px;
}

/** bs4 customisations: disable rounded corners on cards */
.card-header:first-child {
    border-radius: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


nav.mb-4, nav.my-4 {
    margin-bottom: 0 !important;
}


/* bs4 customisations - end */


/* accordion component */
#accordion {
    background-color: white;
}


#accordion .card-header {
    border-top: none;
    border-bottom: solid 1px #d8d8d8;
    padding: 15px;
    border-radius: 0px 0px 0px 0px !important;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: large;
    min-height: 3rem;
}

#accordion .card-block {
    padding: 15px 15px 15px 75px;
}

#accordion .card-header:after {
    float: right;
    font-weight: bolder;
    content: '+';
}

#accordion .show .card-footer {
    max-height: 0;
}

#accordion .card-footer {
    max-height: 1px;
    border-top: none;
    border-bottom: 1px #d8d8d8 solid;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#accordion .card p {
    font-size: 1.2rem;
    text-align: justify;
    text-justify: auto;
}


/** hero component */
#hero .jumbotron {
    background: no-repeat 100% 0%;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: cover;
    padding: 0;
}

#hero > .jumbotron .row {
    padding-top: 0;
    position: relative;
    min-height: 360px;
}

#hero .jumbotron .container {
    background-color: inherit;
    padding-top: 30px;
}

#hero .heading {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#hero .heading h1 {
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 3rem;
    line-height: 1.1em;
}

/* setup guide cards */
#guides {
    background: #fcfbf9;
}

#guides > .container {
    background-color: inherit;
}

#guides .card {
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: 30px;
}

#guides h3 {
    padding-bottom: 15px;
}

#guides h3 a, #guides h3 a:active {
    color: blue;
    text-decoration: underline;
    font-size: smaller;

}

/* industry cards */
#industries .container:last-child:after {
    content: "";
    border-bottom: red 2px solid;
    display: block;
    margin-top: 32px;
    margin-left: -15px;
    margin-right: -15px;
}

#industries .card {
    text-align: left;
    margin-bottom: 30px;
}

#industries .card-header {
    text-align: left;
    margin-right: auto;
    padding: 0px !important;
    border-bottom: none;
    background: #006dcc;
    color: white;
    display: inline-block;
}

#industries .card-header h3 {
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0 15px;
}

#industries .card-header h3 a {
    color: white;
}

#industries .card-img-top {
    max-height: 150px;
}


#industries .card-block {
    border: 1px #d8d8d8 solid;
    min-height: 200px;
}

/** pullout component */
#pullout {
    background-color: #fcfbf9;
    padding: 0;
}

#pullout .row {
    padding: 30px 0;
}

#pullout .container {
    background-color: inherit;
    padding-top: 0;
}

#pullout .text {
    font-size: 1.2rem;
    display: inline-block;
    overflow-x: hidden;
    width: 75%;
    margin-top: 16px;
    vertical-align: top;
}

#pullout .stat {
    padding-left: 15px;
    border-left: 3px #01539e solid;
    display: inline-block;
}

#pullout .stat h1 {
    color: #01539e;
    font-size: 3.3rem;
}
