$red: #b00d23;
$black: #1e1348;

$column: 30mm;
$columnGap: 4.586mm;
$pageMargin: 15mm;
$pageMarginTop: 10mm;
$pageWidth: 297mm;
$pageHeight: 210mm;

body {
  font-family: "Invesco Interstate Light";
  color: $black;
  font-size: 11pt;
  line-height: 130%;
  margin: 0;
}

ul {
  list-style-type: none !important;
  page-break-inside: avoid;
}

p {
  page-break-inside: avoid;
}


@page {
  size: A4 landscape;
  margin-top: $pageMarginTop + 5mm;
  margin-left: $pageMargin;
  margin-right: $pageMargin;
  margin-bottom: $pageMargin;
}

.conter-reset {
  counter-reset: page;
}

@page :first {
  margin-top: $pageMarginTop;
  margin-left: $pageMarginTop;
  margin-right: $pageMarginTop;
  margin-bottom: $pageMarginTop;
  padding: 0;
  border-top: none;

  @top-left {
    content: " ";
  }

  @top-right {
      content: " ";
  }
}

@page :last {

  @top-left {
    content: " ";
  }
  @top-right {
      content: " ";
  }
}

.page-header {
  position: absolute;
  top: -10mm;
  font-family: "Invesco Interstate Light";
  color: $black;
  font-size: 9pt;
  padding-top: 14pt;
  width: 1000mm;
  z-index: 110;

  .page-counter {
    position: absolute;
    top: 4mm;
    left: 260mm;
    width: 5mm;
    height: 5mm;
    font-family: "Invesco Interstate Light";
    color: $black;
    font-size: 9pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    z-index: 100;
  }
  .union-jack {
    position: absolute;;
    width: 20mm;
    padding-left: 1mm;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    left: 0mm;
    z-index: 100;
  }
  .header-tag {
    position: absolute;
    top: 5mm;
    left: 14mm;
    font-size: 10pt;
    letter-spacing: -0.1pt;
    z-index: 100;
  }
  .header-underline {
    width: 280mm - ($pageMargin);
    height: 0.25pt;
    position: absolute;
    background: $black;
    top: 10mm;
    z-index: 100;

  }
  img {
    width: 9.876mm;
    margin-left: 0mm;
  }
}

.page-break {
  page-break-after: always;
}

.page-break-avoid {
  page-break-inside: avoid;
}

h1 {
  //margin-top: 5mm;
  top: 38mm;
  font-family: "Invesco Interstate Bold";
  font-weight: bold;
  font-size: 36pt;
  color: $red;
  padding-bottom: 4mm;
  border-bottom: solid $red 7pt;
  letter-spacing: -0.2pt;
  line-height: 100%;
}

h2 {
  font-family: "Invesco Interstate bold";
  font-size: 23pt;
  letter-spacing: -0.2pt;
  color: $black;
  line-height: 25pt;
}

sup {
  position: relative;
  display: inline;
  vertical-align: baseline;
  top: -0.5em;
  font-size: 0.7rem;
  left: -0rem;

  a {
    text-decoration: none;
    color: $black;
  }
}

blockquote {
  font-style: italic;
  font-family: "Georgia";

  margin-right: 0;
}

.front-page {
  width: 297mm;
  height: 210mm;
  background: lightgrey;
  left: -$pageMarginTop;
  top: -$pageMarginTop;
  z-index: 200;
  position: relative;


}
.front-page__logo {
  top: 160mm;
  left: 220mm;
  position: absolute;
  display: block;
  width: 55.183mm;
}

.front-page__title {
  left: 15.339mm;
  top: 15.339mm;
  position: absolute;
  display: block;
  font-size: 36pt;
  line-height: 1.2em;
  color: white;
  font-family: "Invesco Interstate Bold";
  font-weight: bold;
  letter-spacing: -0.2pt;
}

.front-page__title__sub {
  margin-top: 24px;
  font-size: 22pt;
  letter-spacing: 1pt;
  font-family: "Invesco Interstate Light";
}

.last-page {
  width: 210mm;
  height: 297mm;
  background: lightgrey;
  left: -$pageMargin;
  top: -$pageMarginTop;
  z-index: 20000;
  position: relative;
}

.toc {
  margin-top: 0mm;
}

.toc ol {
  list-style: decimal inside none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 13.5mm;
}

.toc li {
  margin-top: 2.5mm;
}

.toc .content-margin {
    position: absolute;
    display: block;
    left: 130mm;
    margin-top: 23mm;
}
.toc .section-body {
    margin-left: 0;
    padding-left: 0;
}

.section {
  overflow: hidden;
}

ul li {
  position: relative;
}


ul li:before {
  content: '\00a0';
  width: 4px;
  height: 4px;
  background: #1e1348;
  display: block;
  position: absolute;
  border-radius: 100%;
  top: 0.55em;
  left: -0.7em;
}


.contact li:before {
  display: none;
}


.section-body ol {
  padding-left: 1cm;
  margin-top: $pageMarginTop / 2;
}
.content {
  font-family: "Invesco Interstate Light";
  font-size: 11pt;
  letter-spacing: -0.2pt;
  line-height: 25pt;
}
.relative {
  position: relative;
}

.content-margin {
  margin-left: 120mm;
}

.flex {
  display: flex;
}

.side-footnote .footnote {
  hr {display: none;}
  ol {margin: 0; padding: 0; width: $column; list-style-type: none;}

  li {
    margin-top: 0.3rem;
    overflow-wrap: break-word;
  }

  font-size: 8pt;
  position: absolute;
  bottom: 4pt;
  margin-left: 0  - $column - $columnGap;

  p {
    margin: 0;
    margin-top: 0;
    line-height: 1.1;
  }

  p a.footnote-backref {
    display: none;
  }
}

/* contact box  */
.contact-box {
    background-color: #1e1348;
    color: white;
    font-size: 10pt;
    width: 80mm;
    height: 50mm;
    padding: 5mm 7mm  5mm 7mm;
    font-weight: normal;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        line-height: 25pt;
      }
    }
    hr {
      color: white;
      size: 1mm;
      margin: 3mm;
    }
    .contact-box-header {
      font-weight: bolder;
      font-size: 12pt;
  }
}


/* text on overlay */
.background-image {
  background-size: cover;
  position: absolute;
  left: -$pageMargin;
  top: -$pageMargin;
  width: $pageWidth;
  height: $pageHeight;
  z-index: -1;
}


.singlepage-content {
  margin-top: 20mm;
  margin-left: $pageMargin;

}


.singlepage__narrow_left_content_column {
  position: relative;
  display: inline-block;
  left: 0mm;
  width: 100mm;
  height: 220mm;
  margin: 0;
  padding: 0;
}

.singlepage__narrow_left_image_column {
  position: relative;
  display: inline-block;
  left: 0mm;
  width: 115mm;
  height: 220mm;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.singlepage__right_content_column {
  position: absolute;
  width: 180mm;
  height: 240mm;
  color: white;
  font-family: "Invesco Interstate Light";
  font-size: 14pt;
  letter-spacing: -0.2pt;
  line-height: 25pt;
  top: 30mm;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  // margin: 0;
  margin-right: 10mm;
  left: 116mm;
  z-index: 1;
}



/* page divided halfway */
.singlepage__left_half_content {
  width: $pageWidth / 2;
  height: $pageHeight;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: $pageMargin;
}
.singlepage__right_half_content {
  width: $pageWidth / 2;
  height: $pageHeight;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0mm 0mm;
  background-size: cover;
  overflow:hidden;
}

.dit-back-logo {
  width: 30mm!important;
  padding: 3mm;

}
.invest-url {
  text-align: right;
  font-weight:900;
  font-size:16pt;
  padding-top:5mm
}

/* special case flexbox layout */

.singlepage-withfooter {
  width: $pageWidth;
  height: $pageHeight;
  // position: relative;
  // display: flex;
  // flex-direction: column;
}


/* up */
.singlepage-withfooter__body {
  overflow: hidden;
}

.singlepage-withfooter__body__text {
  margin-left: 0mm;
  margin-bottom: $column;
  position: relative;
}

.singlepage__wrapper {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "left-content right-image";
  z-index: 1;
}

.singlepage__left_content_column {
  position: absolute;
  // display: inline-block;
  left: 0mm;
  width: 170mm;
  height: 220mm;
  margin: 0;
  padding: 0;
}

.singlepage__right_image_column {
    position: absolute;
    left: 170mm;
    top: -$pageMarginTop * 2;
    width: 115mm;
    height: 220mm;
    //right: -$pageMargin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}



.full-page h1 {
  margin-top: 22.639mm - 5mm;
  margin-bottom: 0;
}

.full-page__spread {
  height: 225.97mm;
  background: lightgrey;
  background-size: cover;
  background-position: center;
}

.secondary-page {
  font-size: 12pt;
  line-height: 125%;
}

.secondary-page img {
  width: 100%;
}

.dark-list > ul {
  page-break-inside: avoid;
  background: #f1ede8;
  margin-top: 8mm;
  margin-bottom: 8mm;
  margin-left: 8mm;
  margin-right: 8mm;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8mm;
  padding-right: 8mm;
  overflow: hidden;
  list-style-type: none;

  & > li {
    margin-top: 8mm;
    margin-bottom: 8mm;
  }
}

.talent_and_education_by_sector {
  margin-top: 17.639mm;
}


.bottom-footnote .footnote {
  border-top: solid $red 1pt;
  font-size: 8pt;
  hr {display: none;}
  margin-left: $column + $columnGap;
  margin-top: $pageMarginTop;
  padding-top: 2mm;

  ol {margin: 0; padding: 0; list-style-type: none;}

  li {
    margin-top: 0.3rem;
  }

  p {
    margin: 0;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 4mm;
  }

  p a.footnote-backref {
    display: none;
  }
}



section h1 + p > img,
section h1 + p > a > img {
  margin-top: -2.1rem;
}

#marketoverview-image {
  position: absolute;
  left: 30mm;
  top: -6.5mm;
  width: 115.581mm;
  z-index: 999;
}

#businessoverview-image {
  width: 147mm;
}

.singlepage__right_content_text {
  position: absolute;
  top: 20mm;
  width: 160mm;
  height: 180mm;
  left: 125mm;
  //padding-right: 3mm;
  color: black;
  overflow: hidden;
  margin: 0mm 10mm 10mm 0mm;
  z-index: 10;
}


.left-overlay {
  position: absolute;
  width: 100%;
  height: 260mm;
  margin: 0;
  //padding-top: 30mm;
  left: 0;
  top: 0mm;
  background:  rgba(30,19,72, 0.3);
}


.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(0, 0, 0, 0.6)
    );
}
.overlay-text {
  position: absolute;
  padding-right: $pageMargin * 2;
  margin-left: $pageMargin;
  margin-right: $pageMargin;
  margin-top: $pageMarginTop * 2;
  color: white;
  top: 30mm;
  width: 80%
}


.page-container-contents {
  display: grid;
  grid-template-columns: 110mm 180mm;
  grid-template-rows: 100%;
  grid-column-gap: 0mm;
  grid-row-gap: 0mm;
  position: absolute;
  left: -$pageMargin;
  top: -$pageMargin;
  width: $pageWidth;
  height: $pageHeight;


  .left {
    grid-area: 1 / 1 / 2 / 2;
    height: $pageHeight;
  }
  .right {
    grid-area: 1 / 2 / 2 / 3;
    height: $pageHeight;
    z-index: 3;

  }
  .main-content {
    z-index: 3;
    top: 28mm;
    left: 110mm;
    position: absolute;

    margin-left: 15mm;
    color: black;
    font-family: "Invesco Interstate Light";
    font-size: 14pt;
    letter-spacing: -0.2pt;
    line-height: 25pt;
    width: 180mm;
    height: $pageHeight;
  }
  .background-wrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: $pageHeight;
    padding: 0;
    margin: 0;
    width: 105.5mm;
    background-size: cover;
  }
  .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: $pageHeight;
    padding: 0;
    margin: 0;
    width: 105.5mm;
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(36, 91, 194, 0.3)
    );
  }
  .overlay-text {
    z-index: 3;
    position: absolute;
    left: -2mm;
    top: -5mm;
    font-family: "Invesco Interstate Light";
    font-size: 14pt;
    letter-spacing: -0.2pt;
    line-height: 25pt;
    margin-left: 20mm;
    margin-top: 20mm;
  }

  ol {
    list-style: none;
    counter-reset: toc-counter;

    li {
      counter-increment: toc-counter;
      color: black;
      line-height: 40pt;
    }
    li:before {
      content: counter(toc-counter) ". ";
      font-family: "Invesco Interstate Light";
      color: black;
      font-weight: 900;
      font-size: 20pt;
    }
  }

}


.page-container-2 {
  display: grid;
  grid-template-columns: 100mm 180mm;
  grid-template-rows: 100%;
  grid-column-gap: 0mm;
  grid-row-gap: 0mm;

  background-size: cover;
  position: absolute;
  left: -$pageMargin;
  top: -$pageMargin;
  width: $pageWidth;
  height: $pageHeight;
  z-index: -1;

  .left {
    grid-area: 1 / 1 / 2 / 2;
    width: 100mm;
  }
  .right {
    grid-area: 1 / 2 / 2 / 3;
    width: 180mm;
  }
  .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 106.1mm;
    height: $pageHeight;
    padding: 0;
    margin: 0;
    width: 200mm;
    background: rgba(30,19,72, 0.2);
  }
  .overlay-text {
    z-index: 10;
    position: absolute;
    color: white;
    font-family: "Invesco Interstate Light";
    font-size: 14pt;
    letter-spacing: -0.2pt;
    line-height: 25pt;
    top: 10mm;
    left: 0mm;
  }
}


.page-container-3 {
  display: grid;
  grid-template-columns: 100mm 180mm;
  grid-template-rows: 100%;
  grid-column-gap: 0mm;
  grid-row-gap: 0mm;

  background-size: cover;
  position: absolute;
  left: -$pageMargin;
  top: -$pageMargin;
  width: $pageWidth;
  height: $pageHeight;
  z-index: -1;

  .left {
    grid-area: 1 / 1 / 2 / 2;
    width: 100mm;
  }
  .right {
    grid-area: 1 / 2 / 2 / 3;
    width: 180mm;
  }
  .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 106.1mm;
    height: $pageHeight;
    padding: 0;
    margin: 0;
    width: 200mm;
    background:  rgba(49,44,98, 0.65);
  }
  .overlay-text {
    z-index: 10;
    position: absolute;
    color: white;
    font-family: "Invesco Interstate Light";
    font-size: 14pt;
    letter-spacing: -0.2pt;
    line-height: 25pt;
    top: 10mm;
    left: 0mm;
  }
}



.section-body > p, .section-body > ul, .section-body > ol {
  margin-top: 13.406mm;
}

.section-body > p, .section-body > ul > li, .section-body > ol > li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}


.section-body ul {
  margin-left: 0;
  padding-left: 0.45cm;
}

.two-column-wrapper {
  column-count: 2;
  column-width: 48mm;
  column-gap: 5mm;
  font-family: "Invesco Interstate Light";
  font-size: 11pt;
  line-height: 14pt;
  letter-spacing: 0.2pt;
  width: 96%;
  margin: 0;
  height: 90%;


  h2 h3 h4 {
    font-family: "Invesco Interstate Bold";
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0.2pt;
    column-span: all;
  }
}

.singlepage__left_content_text {
  position: absolute;
  top: 50mm;
  width: 160mm;
  height: 128mm;
  left: 0;
  //overflow: hidden;
  margin: 0mm 10mm 10mm 0mm;
  z-index: 10;
  // border: 1px solid red;
}

.manual_column {
  position: absolute;
  padding: 1mm;
  overflow: hidden;
  font-family: "Invesco Interstate Light";
  font-size: 11pt;
  line-height: 14pt;
  letter-spacing: 0.2pt;
  z-index: 15;
  blockquote {
    font-style: italic;
    font-family: "Georgia";
    border-left: 2px solid $red;
    padding-left: 3mm;
    p:last-child {
      font-size: 11pt;
      font-family: "Invesco Interstate Light"!important;
      font-weight: normal;
      font-style: normal;
    }
  }
}