$red: #b00d23;
$black: #1e1348;

$column: 25.42mm;
$columnGap: 4.586mm;
$pageMargin: 17.639mm;
$pageMarginTop: 11.642mm;


body {
  font-family: "Interstate";
  color: $black;
  font-size: 14pt;
  line-height: 130%;
}

@page {
  size: A4;
  margin-top: $pageMarginTop;
  margin-left: $pageMargin;
  margin-right: $pageMargin;
  margin-bottom: $pageMargin;
  border-top: solid 0.5pt $black;

  @top-left {
    content: counter(page);
    font-family: "Interstate";
    color: $black;
    font-size: 9pt;
    padding-top: 14pt;
  }
}

@media print {
    header.onlyprint {
        position: fixed; /* Display only on print page (each) */
        top: -11.642mm; /* Because it's header */
        font-family: "Interstate";
        color: $black;
        font-size: 9pt;
        padding-top: 14pt;
        width: 1000mm;
    }

    #unionjackheader {
        width: $column + $columnGap;
        float: left;
    }

    #headerslogan {
        float: left;
        letter-spacing: -0.7pt;
    }

    header.onlyprint img {
      width: 9.876mm;
      margin-left: 3.1mm;
    }
}

.page-break {
  page-break-after: always;
}

section {
  position: relative;
}

h1 {
  margin-top: 17.639mm;
  font-weight: bold;
  font-size: 30pt;
  padding-bottom: 5.564mm;
  border-bottom: solid $red 6pt;
  letter-spacing: -1.75pt;
  line-height: 100%;
}

sup {
  position: relative;
  display: inline;
  vertical-align: baseline;
  top: -0.5em;
  font-size: 0.7rem;
  left: -0.1rem;

  a {
    text-decoration: none;
    color: $black;
  }
}

.toc {
  margin-top: 55mm;
}

.toc ol {
  list-style: decimal inside none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 13.5mm;
}

.toc li {
  margin-top: 2.5mm;
}



.section-body > p:first-of-type, .section-body > ul:first-of-type {
  margin-top: 13.406mm;
}

.section-body > p, .section-body > ul > li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}


.section-body ul {
  margin-left: 0;
  padding-left: 0.45cm;
}

.relative {
  position: relative;
}

.content-margin { 
  margin-left: $column + $columnGap;
}

.footnote {
  hr {display: none;}
  ol {margin: 0; padding: 0; width: $column; list-style-type: none;}

  li {
    margin-top: 0.3rem;
  }

  font-size: 8pt;
  position: absolute;
  bottom: 4pt;
  margin-left: 0  - $column - $columnGap;

  p {
    margin: 0;
    margin-top: 0;
    line-height: 1.1;
  }

  p a {
    display: none;
  }
}

/* special case flexbox layout */

.sectoroverview {
  width: 172.674mm;
  height: 267.343mm;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* up */
.sectoroverview__body {
  overflow: hidden;
}

.sectoroverview__body__text {
  margin-left: $column + $columnGap;
  margin-bottom: $column;
  position: relative;
}

.sectoroverview__footer {
  background: blue;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
}

.sectoroverview__footer__copy {
  font-style: italic;
  font-family: "Georgia";
  font-size: 25.74pt;
  margin-top: 11.35mm;
  margin-left: 9.244mm;
  width: 50%;
  line-height: 33.1pt;
}

.sectoroverview__footer__attribution {
  font-size: 10.1pt;
  width: 50%;
  margin-top: 2mm;
  margin-left: 9.244mm;
}

.full-page h1 {
  margin-top: 22.639mm;
  margin-bottom: 0;
}

.full-page__spread {
  height: 225.97mm;
  background: lightgrey;
}
