{% load wagtailmarkdown %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h3><a href="{% pageurl card %}">{{ card.title }}</a></h3>
    </div>
    {% image card.specific.hero_image fill-320x150 as card_image %}
    <a href="{% pageurl card %}"><img class="card-img-top" src="{{ card_image.url }}"></a>
    {% if card_descriptions|default_if_none:True %}
    <div class="card-block">
      <p>
        {{ card.specific.description|markdown }}
      </p>
    </div>
    {% endif %}
  </div>
</div>
