{% load static from staticfiles %}
{% load trans from i18n %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
    <head>
        <meta name="description" content="{% block meta_description %}Invest{% endblock %}">
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no">
        <title>{% block head_title %}{% trans "Invest" %}{% endblock %}</title>
    </head>

    <body class="{% block css_layout_class %}{% endblock css_layout_class %}">

        <main id="content" class="contact-content">
            {% block content %}
            {% endblock content %}
        </main>

    </body>
</html>
