{# accordion item containing markdown contain #}
{% load markdown from wagtailmarkdown %}
{% load image from wagtailimages_tags %}

{% image self.map width-500 as map %}
{% image self.map width-1000 as map_2x %}

<div class="card">
  <a class="card-link collapsed col-md-8 col-sm-12" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ position }}">
      <div class="card-header">{{ self.title }}</div>
  </a>
</div>
<div id="collapse{{ position }}" class="collapse">
  <div class="card-block">
      <div class="row">
        <div class="offset-md-1 col-md-5 col-sm-12">
          {{ self.info|markdown }}
        </div>
        <div class="col-md-5 col-sm-12">
          <img src="{{ map.url }}" width="{{ map.width }}" height="{{ map.height }}" srcset="{{ map_2x.url }} 2x" alt="{{ logo.text }}" />
        </div>
      </div>
  </div>
  <div class="card-footer col-md-8 col-sm-12"></div>
</div>
